* {
    background-color:antiquewhite;
}

.title_header {
    text-align: center;
    color: blue

}

.table, th, td {
    border: 1px solid black;
}

.table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
}

.center-aligh {
    text-align: center;
}

#applyBtn {
    background-color: aqua;
    cursor: pointer
}

.error_mark {
    color:red;
    font-size: 24px;
    font-weight:900;
    text-decoration:dashed;
}
